{% extends 'layouts/main/layout-main.twig' %}

{% block variables %}
  {% set title = meta.title %}
  {% set page_class = 'index-page' %}
{% endblock variables %}

{% block content %}


  <div class="page-stack">
    {% include 'modules/trusted.twig' with module_data('trusted') %}
    {% include 'modules/latest-contracts.twig' with module_data('latest-contracts') %}
    {% include 'modules/how-it-works.twig' with module_data('how-it-works') %}
    {% include 'modules/people.twig' with module_data('people') %}
  </div>

{% endblock content %}

{% block modals %}

{% endblock modals %}

{% block scripts %}

{% endblock scripts %}
