{% extends 'layouts/main/layout-main.twig' %}

{% block variables %}
  {% set title = meta.title %}
  {% set page_class = 'index-page' %}
{% endblock variables %}

{% block content %}


  <div class="page-stack">
    {% include 'modules/trusted.twig' with module_data('trusted') %}
  </div>

{% endblock content %}

{% block modals %}

{% endblock modals %}

{% block scripts %}

{% endblock scripts %}
