.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1135px;
  margin: 0 auto;
  padding: 10px;

  background: linear-gradient(113deg, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0.1) 100%);
  border: 1px solid #fff;
  border-radius: 99px;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  &__icon {
    flex-shrink: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  &__input {
    flex: 1;
    align-self: stretch;

    min-width: 0;
    padding: 0;

    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__submit {
    flex-shrink: 0;
  }
}
