
<section class="trusted">
  <div class="container">
    <h2 class="trusted__title">Trusted by top data-driven teams</h2>
  </div>
  <div class="trusted__inner">
    <div class="trusted__track">
      {% for logo in logos %}
        <div class="trusted__item">
          <img
            src="img/content/trusted/{{ logo }}"
            alt=""
            width="140"
            loading="lazy"
          >
        </div>
      {% endfor %}
    </div>
  </div>
</section>
