.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  aspect-ratio: 1 / 1;

  border-radius: 99px;
  background: #3276fa;
  cursor: pointer;

  img {
    object-fit: contain;
  }

  @include sm {
    width: 35px;
  }
}
