{#
class?: string,
items: [
  {
    title: string | HTMLElement,
    content: string | HTMLElement
  }
]
#}

<div class="accordion js-accordion {{ class }}">
  {% for item in items %}
    <div class="accordion__item js-accordion-item">
      <button class="accordion__toggler js-accordion-toggler">{{ item.title }}</button>
      <div class='accordion__content js-accordion-content'>
        {{ item.content }}
      </div>
    </div>
  {% endfor %}
</div>
